python-dateutil
dockerfile-parse
jsonschema
requests
requests-kerberos
six
PyYAML
opentelemetry-api==1.19.0
opentelemetry-exporter-otlp==1.19.0
opentelemetry-instrumentation-requests==0.40b0
opentelemetry-sdk==1.19.0
otel-extensions
